<!DOCTYPE html>
<html>
  <head>
    <title>LacerMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <%= render "layouts/header" %>

    <%= render "pages/slider" if action_name == 'home' %>
    
    <main class="container">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>

  </body>
  
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
  </script>
  <div>
    <% flash.each do |type, msg| %>
      <script>
        $(document).ready(function(){
          M.toast({html: "<%=msg%>", classes: 'rounded <%=type%>'});
        });
      </script>
    <% end %>
  </div>
  <script>
    $(document).ready(function(){
       $('.parallax').parallax();
    });
  </script>
  <script>
    $(document).ready(function(){
       $('.tabs').tabs();
    });
  </script>
  <script>
    $(document).ready(function(){
      $(".dropdown-trigger").dropdown();
    });
  </script>
</html>
